body {
    color:"333333";
    background-color:#ffffee;
    background-image:url("../img/back001.jpg");
    scrollbar-base-color:#006666;
    scrollbar-track-color:#66cc66;
    scrollbar-arrow-color:#ffffff;
}

h2 {
    font-size:0.8em;
}

th {
    padding:10px;
    text-align:left;
    background-color:#006666;
    color:#ffffff;
}

td {
    padding:10px
}

table.head1 {
    width:80%;
    color:006666;
    background-color:#ccff88;
    margin-bottom:20px
}

th.th1{
    width:80px;
}

td.td1 {
    line-height:170%
}

hr {
    height:4px;
    background-color:#33cc66;
    width:90%;
    margin-top:5px
}

a:link{ color:#0066ff; }
a:visited{ color:#0066ff; }
a:hover{color:#ff6699;}
a:active{color:#008000;}

form div { margin-bottom:15px; }
form { margin-left:10%; }

input {
    border-style:ridge;
    border-width:5px;
    border-color:#ccff88;
}
textarea {
    border-style:ridge;
    border-width:5px;
    border-color:#ccff88
}
input.send {
    border-style:outset;
    color:#800000;
    background-color:#66cc66
}

span {
    font-size:12px;
    color:crimson;
}

a:link{
    color:#0066ff;
}
a:visited{
    color:#0066ff;
}

a:hover{
    color:#ff6699;
}

a:active{
    color:#008000;
}