body {
background-color: white;
color: black;
font-family: arial, verdana, sans-serif;
font-size: 100%;
margin: 0px; 
padding: 0px;
 }

blockquote {
border: 2px dotted #C0C0C0;
padding: 4px;
}
.footer { 
width: 100%;
background-color: white; 
color: black; 
text-align: center; 
font-size: 100%; 
}
.site-header {
text-align: center;
padding: 10px 5px 10px;
background: -webkit-linear-gradient(left, #007bb6 , #FFFFFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #007bb6, #FFFFFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #007bb6, #FFFFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #007bb6 , #FFFFFF); /* Standard syntax */
} 

.logo {
font-family: Georgia, sans-serif;
font-size: 30px;
text-align: center;
color: #483D8B;
}

.slogan {
font-size: 20px;
font-family: Arial, sans-serif;
}

.intro-text {
}
.contents, .contents_2col, .contents_full {
width: 100%;
background-color: white;
color: black;
} 

.contents {
line-height: 1.5em;
text-align: left; 
 padding: 10px; 
vertical-align: top; 
float: left; 
margin: 0 auto;
max-width: 460px;
overflow: hidden;
}
.contents_2col {
line-height: 1.5em;
text-align: left; 
 padding: 10px; 
vertical-align: top; 
float: left; 
margin: 0 auto;
width: 60%;
overflow: hidden;
}

.contents_full {
line-height: 1.5em;
text-align: left; 
 padding: 10px; 
margin: 0 auto;
width: 75%;
overflow: hidden;
}

ul {
list-style-type: circle;
}

ol {
list-style: lower-roman;
}
ol.upperalpha {
list-style-type: upper-alpha;
}

ul li {
margin-left: 5px;
padding-left: 5px;
}
ul.nav {
list-style-type: none;
list-style-image: none;
margin: 0px;
padding: 0px;
  }

ul.nav li {

padding-bottom: 5px;
}

ul.option li{
padding-bottom: 10px;
}


.center {

text-align: center;

}

.right {
text-align: right;
}

.left {
text-align: left;
}

.full {
width: 100%;
background-color: white;
color: black; text-align: center;  
float: left; 
display: inline;
}

.container {
width: 100%;
float: left; 
text-align: center;
}

#secondary {
	clear: both;
	margin-top: -1px;
padding: 0 10px;
position: relative;
z-index: 2;
}

.sidemenu {
width: 20%;
float: left; 
padding: 5px;
border-top: 1px solid white;
margin-top: 48px;
}

.rightsidemenu {
width: 20%;
 float: left; 
padding: 5px;
margin-top: 48px;
}

h1, h2, h3, h4, h5, h6 {
font-family: Times New Roman, sans-serif;
text-transform: capitalize;
}

 .entry-h1 {
font-weight: 300;
line-height: 1.0909090909;
	margin-bottom: 12px;
margin: 0 0 12px 0;
font-size: 145%;
color: #3c4142;
border: 1px solid #3c4142;
padding: 2px;
}

h1 {
font-size: 135%;
text-align: left; 
}

 }

h2 {
font-size: 125%;
text-align: center; 
}

h3 {
font-size: 120%;
 text-align: center; 
}

h4 {
font-size: 115%;
 text-align: center; 
}

h5 {
font-size: 110%;
 text-align: center; 
}

h6 {
font-size: 105%;
 text-align: center; 
}

:link, :visited {
text-decoration: underline;
background-color: white; 
color: #800080;

}

a:hover {
text-decoration: underline;
background-color: #800080; 
color: white; 
}

a:active {background: white;
color: #800080;
text-decoration: underline;
}

a:focus {
border: 2px solid #800080;
padding: 2px;

}

#navigation ul
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

#navigation li
{
display: block;
list-style-type: none;
background-color: #000080;
color: white;
font-family: "small verdana", arial,sans-serif;
text-transform: uppercase;
text-decoration: none;
margin-bottom: 5px;
}

#navigation a { padding: 3px 10px; 
background-color: #000080;
color: white;
text-decoration: none;
}

#navigation a:hover
{
color: #000080;
background-color: white;
text-decoration: none;
font-family: "small verdana", arial, sans-serif;
text-transform: uppercase;
}
#navigation a:focus
{
background-color: white;
color: #000080;
padding: 2px;
font-family: "verdana", arial, sans-serif;
}

.alignleft, .floatLeft { 
float: left;
margin: 10px;
}

.alignright, .floatRight { 
float: right;
 }

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}

#navbar 
{
text-align: center;
font-size: 100%;
margin-bottom: 10px;
}
#navbar a:focus
{
display: inline;
border: 2px solid black;
padding: 2px;

text-align: center;
font-size: 100%;
margin-left: 10px;
border: 1px solid #A6A6A6;
padding: 2px;

}

#navbar a
{
display: inline;
background-color: white;
color: black;text-decoration: none;
text-align: center;
font-size: 100%;
margin-left: 10px;
border: 1px solid #A6A6A6;
padding: 2px;
font-family: "verdana", arial, sans-serif;
}

#navbar a:hover
{
display: inline;
color: white;
background-color: black;
text-align: center;
font-size: 100%;
margin-left: 10px;
border: 1px solid #A6A6A6;

padding: 2px;

}

.black {
background-color: black;
color: white;
}

.blackLarge {
background-color: black;
color: white;
font-size: 120%;
}

.white {
background-color: white;
color: black;
}

.whiteLarge {
background-color: white;
color: black;
font-size: 120%;
}

.dyslexic {
background-color: black;
color: white;
}

.whiteZoom {
background-color: white;
color: black;

}

#access_bar {
padding: 2px;
margin-bottom: 5px;
background-color: #000088;
color: white;
text-align: center;
width: 100%;
}

.navlist ul
{
margin-left: 0;
padding-left: 0;
white-space: nowrap;
}

.navlist li
{
display: inline;
list-style-type: none;
background-color: #000080;
color: white;
font-family: "small verdana", arial,sans-serif;
text-transform: uppercase;
text-decoration: none;
}

.navlist a { padding: 3px 10px; 
background-color: #000080;
color: white;
text-decoration: none;
}

.navlist a:hover
{
color: #000080;
background-color: white;
text-decoration: none;
font-family: "small verdana", arial, sans-serif;
text-transform: uppercase;
}
.navlist a:focus
{
background-color: white;
color: #000080;
padding: 2px;
font-family: "small verdana", arial, sans-serif;
text-transform: uppercase;
}

.box {
text-align: center;
border: 2px solid black;
width: 98%;
background-color: white;
color: black;
margin-top: 20px;
padding: 5px;
}

.translate {
margin-left: 30px; 
margin-top: 5px; margin-bottom: 5px;
}

.hidden {
display: none;
}

#navigationright li
{
float: left;
margin-bottom: 5px;
padding-left: 5px;
list-style-image: none;
text-align: left;
font-size: 100%;
width: 100%;
}

#navigationright a
{
display: block;
background-color: white;
color: black;text-decoration: none;
text-align: left;
font-size: 100%;
width: 100%;
margin-bottom: 5px;
padding-left: 5px;
}

#navigationright a:focus
{
display: block;
border: 2px solid black;
padding: 2px;

text-align: left;
font-size: 100%;
width: 100%;
margin-bottom: 5px;
padding-left: 5px;
}

#navigationright a:hover
{
display: block;
color: white;
background-color: black;
text-decoration: none;
text-align: left;
font-size: 100%;
width: 100%;
margin-bottom: 5px;
padding-left: 5px;
}

#default {
display: none;
}

/* Alignment */

.alignleft {

	float: left;

}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,

figure.wp-caption.alignleft,

img.alignleft {

	margin: 7px 24px 7px 0;

}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright,
figure.wp-caption.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
margin-top: 7px;
margin-bottom: 7px;
}

.sticky .entry-date {
display: none;
}

.gallery-caption {
background-color: rgba(0, 0, 0, 0.7);
-webkit-box-sizing: border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
color: #fff;
font-size: 12px;
line-height: 1.5;
margin: 0;
max-height: 50%;
opacity: 0;
padding: 6px 8px;
position: absolute;
bottom: 0;
left: 0;
text-align: left;
width: 100%;
}
.bypostauthor > article .fn:before,
.comment-edit-link:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.contributor-posts-link:before,
.menu-toggle:before,
.search-toggle:before,
.slider-direction-nav a:before,
.widget_twentyfourteen_ephemera .widget-title:before {
-webkit-font-smoothing: antialiased;
display: inline-block;
font: normal 16px/1 Genericons;
text-decoration: inherit;
vertical-align: text-bottom;
}

.custom_widget_menu {
padding: 5px;
border: 1px solid white;
display: inline-block;
margin-right:5px;
}

.widget-title,sidebarH2 {
font-size: 12px;
}
#content-sidebar h1, #content-sidebar h2, .sidemenu h1, .sidemenu h2 {
font-size: 16px;
}


.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: fixed;
left: -9999999px;
}

#logo_image {
margin-left: 10px;
float: left;
}

.search-submit {
background-color: #000066;
color: white;
padding: 2px;
}